@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  height: 100%;
}

.loader {
  background: rgb(13,19,35);
  background: radial-gradient(circle, #0d1323 0%, #070747 90%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    @apply bg-neutral-900 text-neutral-300;
    scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cards {
  position: relative;
  width: 100%;
  height: 360px;
  /* border: 1px solid #fff; */
  margin-top: 10px;
  display: flex;
  align-items: center;
  overflow-x: auto;
}
.cards::-webkit-scrollbar {
  display: none;
}
.cards .card{
  position: relative;
  min-width: 260px;
  height: 320px;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-right: 10px;
  background: #000;
  transition: .3s linear;
}
.cards .card .poster{
  border-radius: 8px;
  position: relative;

}

.cards .card:hover  {
  min-width: 600px;
  overflow: hidden;
}

.cards .card .rest_card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  left: 0;
  top: 0;
  z-index: 999999;
  opacity: 0;
  transition: 1s linear;
}

.cards .card .rest_card img {
  position : relative ;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
}

.cards .card .rest_card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg , transparent , #000);
  left: 0;
  bottom: 0;
  z-index: -1;
}

.cards .card .rest_card .cont {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  color: #fff;
  padding: 0px 20px;
}

.cards .card .rest_card .cont .sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards .card .rest_card .cont .sub p {
  font-size: 12px;
  font-weight: 400;
  color: rgb(255, 255, 255 , .7);
}

.cards .card .rest_card .cont .sub h3 {
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
}

.cards .card .rest_card .cont .sub h3 span {
  background: yellow;
  color: #000;
  padding: 0px 3px;
  margin: 0px 5px 0px 10px;
  border-radius: 2px;
}

.cards .card:hover .rest_card {
  opacity:  1;
}

.popular {
  position: relative;
}

.bi-chevron-left , 
.bi-chevron-right {
  position: absolute;
  top: 50%;
  left: 3%;
  width: 25px;
  height: 25px;
  background: rgb(255,255,255,.3);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  transition: .3s linear;
  z-index: 99999999999;
  opacity: 0;
}

.bi-chevron-right {
  left: unset;
  right: 3%;
}

.popular:hover .bi-chevron-right , 
.popular:hover .bi-chevron-left {
  opacity: 1;
}




.scrolbar-none::-webkit-scrollbar{
  display: none;
}